/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #FFFFFF
}

/* Changing the background colour for the header */

header {
	background-color: #ffffff;
}

/* Changing the background color for the navigation bar */

.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color:#ffffff;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display:inline-block;
	list-style-type: none;
}
nav ul li{
	display:inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color:#555;
}
p{
	color:#555;
}
container{
	max-width: 600px;
	margin: auto;
	padding-left: 0px;
	padding-right: 0px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
col-2{
	flex-basis: 50%;
	min-width: 150px;
}

col-2 img{
	max-width: 50%;
	padding: 50px 0;
}
col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
